{
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "style": true
    }],
    ["react-css-modules", {
      "generateScopedName": "[path]__[name]__[local]__[hash:base64:5]",
      "handleMissingStyleName": "warn"
    }],
    ["transform-class-properties"],
    ["syntax-object-rest-spread"]
  ],
  "presets": ["env", "react"]
}
