html {
  width: 800px;
  height: 600px;
  overflow-x: hidden;
}
body {
  font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  color: #314659;
  font-size: 14px;
  background: #fff;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
}
button {
  line-height: 30px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  white-space: nowrap;
  padding: 0 12px;
  outline: none;
  height: 30px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0,0,0,.65);
  background-color: #fff;
}
button.small {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding: 0 10px;
}
button.primary {
  border-color: #507b66;
  padding: 0;
  width: 50px;
}
button.active {
  border-color: #507b66;
  background-color: #507b66;
  color: #fff;
}
button.loading {
  cursor: not-allowed;
}
iframe {
  width: 100%;
  height: 100%;
  background: #fff;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  user-select: none;
  height: 46px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.left {
  display: flex;
}
.logo {
  background-image: url(./vendor/code.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
}
.run {
  margin: 0 20px 0 14px;
}
#tpl {
  margin-left: 15px;
  color: #507b66;
  text-decoration: underline;
  cursor: pointer;
}
#run {
  margin-right: 2px;
}
#run.loading {
  position: relative;
  text-indent: -9999px;
}
#run.loading::before {
  content: '';
  border: 2px solid transparent;
  border-bottom-color: #666;
  border-right-color: #666;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 17px;
  top: 7px;
  animation: loading 1s linear forwards infinite;
}
@keyframes loading { 100% { transform: rotate(360deg) } }
#mode {
  display: flex;
  margin-right: 20px;
}
#mode button {
  border-radius: 0;
  position: relative;
}
#mode button.active {
  z-index: 1;
}
#mode button:nth-child(2) {
  margin-left: -1px;
}
#mode button:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#mode button:nth-child(3) {
  margin-left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab {
  flex: 1;
  display: flex;
  align-items: stretch;
  transition: all .3s ease;
}
.panel {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
#console p {
  margin: 0;
  font-size: 13px;
  border-bottom: 1px solid #eee;
  padding: 5px 10px;
}
#console p::before {
  content: '>';
  margin-right: 5px;
  color: #d9d9d9;
}
#console p span {
  display: inline-block;
  vertical-align: top;
  white-space: pre-wrap;
}
#console p span:first-child {
  margin-right: 5px;
  color: #999;
}
#console p.log, #console p.info {
  color: #1f1bcc;
}
#console p.warn {
  color: #f4bc2b;
}
#console p.error {
  color: #e83b46;
}
.CodeMirror {
  height: 100%;
}
.console {
  display: flex;
  flex-direction: column;
}
.log-option {
  text-align: right;
  padding: 8px 10px;
  border-bottom: 1px solid #eee;
}
#clear {
  margin-left: 10px;
}
#console {
  flex: 1;
}
#popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  transition: all .3s ease;
  visibility: hidden;
}
#popup.active {
  opacity: 1;
  visibility: visible;
}
#popup > div {
  width: 100%;
  position: relative;
  background: #507b66;
  color: #fff;
  padding: 20px 150px 30px 150px;
  transition: all .3s ease;
  box-sizing: border-box;
  transform: translateY(-100%);
}
#popup.active > div {
  transform: translateY(0);
}
#popup .close {
  position: absolute;
  left: 20px;
  color: #fff;
  top: 30px;
  cursor: pointer;
}
#popup .close::before {
  content: '+';
  margin-right: 5px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  vertical-align: baseline;
  transform: rotate(45deg);
}
#popup p {
  margin: 0 0 20px;
}
#popup button {
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  border: none;
  margin: 0 10px 10px 0;
}

#export {
  display: inline-flex;
  margin-left: 5px;
  cursor: pointer;
  padding: 0 8px;
  vertical-align: top;
}
